Scenario: I would like that all threaded comments have the same indentation as the first one. 'Wordpress' 

.commentlist .children li.comment.depth-2 {
	margin-left: -55px;
}
.commentlist .children li.comment.depth-3 {
	margin-left: -55px;
}
.commentlist .children li.comment.depth-4 {
	margin-left: -55px;
}
.commentlist .children li.comment.depth-5 {
	margin-left: -55px;
}

Note: By default WP does not go pass 5th depth.